@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $gap: 0,
  $direction: row
) {
  display: flex;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin colors($colors) {
  @each $name, $color in $colors {
    --#{"" + $name}: #{$color};
  }
}

@mixin var-range($variable, $value) {
  #{$variable}: $value;
  #{$variable}-xxxs: calc(var(#{$variable}) / 16);
  #{$variable}-xxs: calc(var(#{$variable}) / 8);
  #{$variable}-xs: calc(var(#{$variable}) / 4);
  #{$variable}-s: calc(var(#{$variable}) / 2);
  #{$variable}-b: calc(var(#{$variable}) * 0.625);
  #{$variable}-d: calc(var(#{$variable}) * 0.75);
  #{$variable}-sm: calc(var(#{$variable}) * 1.25);
  #{$variable}-m: calc(var(#{$variable}) * 1.5);
  #{$variable}-xm: calc(var(#{$variable}) * 1.75);
  #{$variable}-l: calc(var(#{$variable}) * 2);
  #{$variable}-dl: calc(var(#{$variable}) * 2.5);
  #{$variable}-ml: calc(var(#{$variable}) * 3);
  #{$variable}-xl: calc(var(#{$variable}) * 4);
  #{$variable}-xxl: calc(var(#{$variable}) * 6);
}

@mixin size($width, $height: $width) {
  width: #{$width};
  height: #{$height};
}
