$base-colors: (
  black: #181a1a,
  brown: #b99150,
  brown-400: #a46b00,
  brown-500: #382400,
  gray: rgb(208, 208, 208),
  primary-200: #ffc468,
  primary: #ffaf18,
  primary-400: rgba(255, 175, 24, 1),
  primary-500: rgb(242, 158, 4),
  warning: #f84e4e,
  white: #ffffff,
);
